.Nav {
  display: flex;
  justify-content: space-between;
  color: var(--text-2);
  background-color: var(--surface-3);
}

.Nav ul {
  display: flex;
  padding-inline: 0;
  list-style-type: none;
}

.Nav li {
  padding-inline-start: 0;
}

.Nav a {
  display: block;
  color: var(--text-2);
  padding-block: var(--size-2);
  padding-inline: var(--size-4);
}
