/* Open props */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* HighlightJS */
@import "https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/tomorrow-night-blue.min.css";

.tab {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.tab__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tab__row button {
  padding-block: var(--size-4);
}

.hidden {
  display: none;
}

.content {
  background-color: var(--blue-0);
}

#app {
  min-height: 100svh;
}

#content {
  min-height: 100svh;
  padding: var(--size-2);
  margin: var(--size-2);
}

textarea {
  font-family: var(--font-mono);
  margin: var(--size-2);
  padding: var(--size-2);
}

pre {
  max-inline-size: none;
}

p {
  margin-block: var(--size-2);
}
