/* Open props */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* HighlightJS */
@import "https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/tomorrow-night-blue.min.css";

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#content {
  min-height: 100svh;
  padding: var(--size-2);
  margin: var(--size-2);
}

textarea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50svh;
  font-family: var(--font-mono);
  padding: var(--size-2);
  margin: var(--size-2);
}

pre {
  max-inline-size: none;
}

p {
  margin-block: var(--size-2);
}
